* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  position: relative;
  width: 40vw;
  height: 80vh;
}
.img-container-after,
.img-container-before {
  position: absolute;
  width: 40vw;
  height: 80vh;
}
.img-container-before {
  width: 20vw;
  overflow: hidden;
}
img {
  width: 40vw;
  height: 80vh;
  object-fit: cover;
}

.slider {
  width: 0.3rem;
  background: white;
  height: 100%;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  pointer-events: none;
}

@media only screen and (max-width: 900px) {
  .container {
    position: relative;
    width: 90vw;
    height: 80vh;
  }
  .img-container-after,
  .img-container-before {
    position: absolute;
    width: 90vw;
    height: 80vh;
  }
  .img-container-before {
    width: 45vw;
    overflow: hidden;
  }
  img {
    width: 90vw;
    height: 80vh;
    object-fit: cover;
  }
}
